<div id="<%= dom_id project %>">
 <div class="table">
  <div class="table-row">
   <h2> <%= link_to project.title, project %></h2>
    <%= link_to project.link, project.link%>
  </div>
  <hr>
<div class="col-12">
<strong>Link:</strong>
    <%= project.body %>
</div>
</div>
